elpa/
straight/
auto-save-list/
image-dired/
backups/
org-templates
session*
**/*~
**/*~undo-tree~
**/*#*
custom.el*
.DS_Store
readme.html
elpy/
.lsp-session*
.cache
org-roam.db
bookmarks
recentf
tramp
url
.org-id-locations
